body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.8;
    color: white;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 14px;
  }

p {width: 500px;
  font-size: 14px}
.margin {margin-bottom: 15px;}

.gray {color: gray}

pre {
  white-space: 0px;
  margin-top: 0px;
  line-height: 1.0;
  margin-bottom: 0px;
  width: 500px;
}

a {
  color: cornflowerblue;
}

div{
  padding-bottom: 30px;
}

img {
  width: 500px;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}